<header>
  <div class = "header">
    <div class = "header_content content_center">
      <div class = "header_content_phones">
        <a class = "header_telephone" href = "./">Главная страница</a>
        <p class = "header_address">Default</p>
      </div>
      <div class = "header_content_phones">
        <a class = "header_telephone" href = "./editor">Страница редактирования</a>
        <p class = "header_address">Работа начата</p>
      </div>
      <div class = "header_content_phones">
        <a class = "header_telephone" href = "./messages">Страница сообщений</a>
        <p class = "header_address">Начало положено</p>
      </div>
      <div class = "header_content_lang">
        <a title="Англоязычная версия сайта" rel="tooltip">
          <%= image_tag('locales/langEn.png') %>
        </a>
        <a title="Русскоязычная версия сайта" rel="tooltip">
          <%= image_tag('locales/langRu.png') %>
        </a>
      </div>
    </div>
  </div>
</header>